__pycache__
mediamtx
vf
go.mod
go.sum
.venv
build/
dist/
neat_insight.egg-info/
neat_insight/bin/
neat_insight/tools/mediadata_sender
frontend/node_modules/
frontend/dist/
front_dist/
neat_insight/frontend_dist/
*.pem
cfg.json
.vscode/